In [298]:
import numpy as np
import pandas as pd

In [299]:
movies = pd.read_csv('tmdb_5000_movies.csv')
credits = pd.read_csv('tmdb_5000_credits.csv')

In [300]:
movies = movies.merge(credits, on = 'title')

In [301]:
movies = movies[['movie_id', 'title', 'overview', 'genres', 'keywords', 'cast', 'crew']]

In [302]:
import ast

In [303]:
def convert(text):
    L = []
    for i in ast.literal_eval(text):
        L.append(i['name'])
    return (L)

In [304]:
movies.dropna(inplace=True)

In [305]:
movies['genres'] = movies['genres'].apply(convert)
movies['keywords'] = movies['keywords'].apply(convert)

In [306]:
def cast3actors(text):
    L = []
    counter = 0
    for i in ast.literal_eval(text):
        if counter < 3:
            L.append(i['name'])
            counter+=1
        else:
            break
    return (L)

In [307]:
movies['cast'] = movies['cast'].apply(cast3actors)

In [308]:
movies['cast']

0        [Sam Worthington, Zoe Saldana, Sigourney Weaver]
1           [Johnny Depp, Orlando Bloom, Keira Knightley]
2            [Daniel Craig, Christoph Waltz, Léa Seydoux]
3            [Christian Bale, Michael Caine, Gary Oldman]
4          [Taylor Kitsch, Lynn Collins, Samantha Morton]
                              ...
4804    [Carlos Gallardo, Jaime de Hoyos, Peter Marqua...
4805         [Edward Burns, Kerry Bishé, Marsha Dietlein]
4806           [Eric Mabius, Kristin Booth, Crystal Lowe]
4807            [Daniel Henney, Eliza Coupe, Bill Paxton]
4808    [Drew Barrymore, Brian Herzlinger, Corey Feldman]
Name: cast, Length: 4806, dtype: object

In [309]:
def director(text):
    L = []
    
    for i in ast.literal_eval(text):
        if i['job'] == 'Director':
            L.append(i['name'])
            break
    return (L)

In [310]:
movies['crew'] = movies['crew'].apply(director)

In [311]:
movies['crew']

0           [James Cameron]
1          [Gore Verbinski]
2              [Sam Mendes]
3       [Christopher Nolan]
4          [Andrew Stanton]
               ...
4804     [Robert Rodriguez]
4805         [Edward Burns]
4806          [Scott Smith]
4807          [Daniel Hsia]
4808     [Brian Herzlinger]
Name: crew, Length: 4806, dtype: object

In [312]:
def collapse(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ", ""))
    return L1

In [313]:
movies['cast']  = movies['cast'].apply(collapse)
movies['crew']  = movies['crew'].apply(collapse)
movies['keywords']  = movies['keywords'].apply(collapse)
movies['genres']  = movies['genres'].apply(collapse)

In [314]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...","[Action, Adventure, Fantasy, ScienceFiction]","[cultureclash, future, spacewar, spacecolony, ...","[SamWorthington, ZoeSaldana, SigourneyWeaver]",[JamesCameron]
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...","[Adventure, Fantasy, Action]","[ocean, drugabuse, exoticisland, eastindiatrad...","[JohnnyDepp, OrlandoBloom, KeiraKnightley]",[GoreVerbinski]
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,"[Action, Adventure, Crime]","[spy, basedonnovel, secretagent, sequel, mi6, ...","[DanielCraig, ChristophWaltz, LéaSeydoux]",[SamMendes]
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,"[Action, Crime, Drama, Thriller]","[dccomics, crimefighter, terrorist, secretiden...","[ChristianBale, MichaelCaine, GaryOldman]",[ChristopherNolan]
4,49529,John Carter,"John Carter is a war-weary, former military ca...","[Action, Adventure, ScienceFiction]","[basedonnovel, mars, medallion, spacetravel, p...","[TaylorKitsch, LynnCollins, SamanthaMorton]",[AndrewStanton]

In [315]:
movies['overview'] = movies['overview'].apply(lambda x:x.split())

In [316]:
movies['overview']

0       [In, the, 22nd, century,, a, paraplegic, Marin...
1       [Captain, Barbossa,, long, believed, to, be, d...
2       [A, cryptic, message, from, Bond’s, past, send...
3       [Following, the, death, of, District, Attorney...
4       [John, Carter, is, a, war-weary,, former, mili...
                              ...
4804    [El, Mariachi, just, wants, to, play, his, gui...
4805    [A, newlywed, couple's, honeymoon, is, upended...
4806    ["Signed,, Sealed,, Delivered", introduces, a,...
4807    [When, ambitious, New, York, attorney, Sam, is...
4808    [Ever, since, the, second, grade, when, he, fi...
Name: overview, Length: 4806, dtype: object

In [317]:
movies['comb'] =  movies['genres']  + movies['cast'] + movies['crew'] +  movies['keywords'] + movies['overview']
movies['comb']

0       [Action, Adventure, Fantasy, ScienceFiction, S...
1       [Adventure, Fantasy, Action, JohnnyDepp, Orlan...
2       [Action, Adventure, Crime, DanielCraig, Christ...
3       [Action, Crime, Drama, Thriller, ChristianBale...
4       [Action, Adventure, ScienceFiction, TaylorKits...
                              ...
4804    [Action, Crime, Thriller, CarlosGallardo, Jaim...
4805    [Comedy, Romance, EdwardBurns, KerryBishé, Mar...
4806    [Comedy, Drama, Romance, TVMovie, EricMabius, ...
4807    [DanielHenney, ElizaCoupe, BillPaxton, DanielH...
4808    [Documentary, DrewBarrymore, BrianHerzlinger, ...
Name: comb, Length: 4806, dtype: object

In [318]:
def listToString(s): 
    
    # initialize an empty string
    str1 = " " 
    
    # return string  
    return (str1.join(s))

In [319]:
movies['comb'] = movies['comb'].apply(listToString)
movies['genres'] = movies['genres'].apply(listToString)
movies['cast'] = movies['cast'].apply(listToString)
movies['crew'] = movies['crew'].apply(listToString)
movies['overview'] = movies['overview'].apply(listToString)
movies['keywords'] = movies['keywords'].apply(listToString)

In [320]:
movies.head()

,movie_id,title,overview,genres,keywords,cast,crew,comb
0,19995,Avatar,"In the 22nd century, a paraplegic Marine is di...",Action Adventure Fantasy ScienceFiction,cultureclash future spacewar spacecolony socie...,SamWorthington ZoeSaldana SigourneyWeaver,JamesCameron,Action Adventure Fantasy ScienceFiction SamWor...
1,285,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",Adventure Fantasy Action,ocean drugabuse exoticisland eastindiatradingc...,JohnnyDepp OrlandoBloom KeiraKnightley,GoreVerbinski,Adventure Fantasy Action JohnnyDepp OrlandoBlo...
2,206647,Spectre,A cryptic message from Bond’s past sends him o...,Action Adventure Crime,spy basedonnovel secretagent sequel mi6 britis...,DanielCraig ChristophWaltz LéaSeydoux,SamMendes,Action Adventure Crime DanielCraig ChristophWa...
3,49026,The Dark Knight Rises,Following the death of District Attorney Harve...,Action Crime Drama Thriller,dccomics crimefighter terrorist secretidentity...,ChristianBale MichaelCaine GaryOldman,ChristopherNolan,Action Crime Drama Thriller ChristianBale Mich...
4,49529,John Carter,"John Carter is a war-weary, former military ca...",Action Adventure ScienceFiction,basedonnovel mars medallion spacetravel prince...,TaylorKitsch LynnCollins SamanthaMorton,AndrewStanton,Action Adventure ScienceFiction TaylorKitsch L...

In [321]:
new = movies[['cast', 'crew', 'comb', 'title']]

In [322]:
new = new.rename(columns={'title':'movie_title'})

In [323]:
new['movie_title'] = new['movie_title'].str.lower()

In [324]:
new.head()

,cast,crew,comb,movie_title
0,SamWorthington ZoeSaldana SigourneyWeaver,JamesCameron,Action Adventure Fantasy ScienceFiction SamWor...,avatar
1,JohnnyDepp OrlandoBloom KeiraKnightley,GoreVerbinski,Adventure Fantasy Action JohnnyDepp OrlandoBlo...,pirates of the caribbean: at world's end
2,DanielCraig ChristophWaltz LéaSeydoux,SamMendes,Action Adventure Crime DanielCraig ChristophWa...,spectre
3,ChristianBale MichaelCaine GaryOldman,ChristopherNolan,Action Crime Drama Thriller ChristianBale Mich...,the dark knight rises
4,TaylorKitsch LynnCollins SamanthaMorton,AndrewStanton,Action Adventure ScienceFiction TaylorKitsch L...,john carter

In [325]:
new.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [326]:
import pickle

In [327]:
pickle.dump(new, open('data.pkl', 'wb'))